.player .next-episode-icon {
    left: initial;
    top: initial;
    bottom: 110px;
    right: 16px;
}
.player .episode-selector-icon {
    right: 16px;
    left: initial;
}
.paused.idle .player iframe {
    filter: brightness(50%);
}
.paused.idle .you-are-watching {
    display: flex;
}
.you-are-watching {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    justify-content: center;
    height: 100dvh;
}
.you-are-watching .container-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.you-are-watching .episode-info {
    display: flex;
    gap: 15px;
    font-size: var(--font-sm);
}
.you-are-watching img {
    height: 100px;
    max-width: 100%;
    object-fit: contain;
}
.episode-selector {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: flex-end;
    padding-top: 70px;
    padding-right: 20px;
}

.episode-selector .title-container {
    display: none;
}
.episode-selector .episodes-list .container-content {
    height: initial;
    overflow-y: initial;
    max-height: initial;
}
.inner-episode-selector {
    max-width: 350px;
    max-height: 600px;
    overflow-y: auto;
    padding: 20px;
    background-color: var(--bg-primary);
    border-radius: var(--border-radius-small);
    z-index: 10;
}

.inner-episode-selector .episode-card {
    height: 80px;
}
.inner-episode-selector .episode-card img, .inner-episode-selector .episode-card .img-skeleton {
    width: 100px;
}
.inner-episode-selector .episode-card .still-container .media-badge {
    display: none;
}
.inner-episode-selector .episode-card .episode-info strong {
    font-size: 12px;
}
.inner-episode-selector .episode-card .episode-info small {
    font-size: 10px;
}
.inner-episode-selector .season-selector {
    flex-wrap: wrap;
}
.inner-episode-selector .season-selector .select {
    flex: 0 0 100%;
}
.inner-episode-selector .season-selector .input-container {
    flex: 1
}
.inner-episode-selector > div {
    padding: 0;
}
.stream-provider-buttons {
    position: absolute;
    z-index: 1;
    bottom: 110px;
    display: flex;
    gap: 10px;
    left: 16px;
    transform: translateY(0); 
    transition: transform 0.3s ease;
}
.vidsrc .stream-provider-buttons, .vidsrc.player .next-episode-icon {
    transform: translateY(30px);
}
.light .player.modal-player .app-icon  {
    color: var(--bg-primary);
}
.player .inner-episode-selector .container-header {
    margin-top: 0;
}
@supports not (height: 100dvh) {
  .player.modal-player {
    height: 100vh;
  }
}