.dropdown-wrapper {
}

.dropdown-content {
    position: absolute;
    left: 0;
    background-color: var(--bg-surface);
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: var(--shadow-base);
    padding: 0;
    width: 200px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}
.dropdown-controller > *, .dropdown-controller {
    z-index: 1;
}
.dropdown-controller:hover + .dropdown-content, .dropdown-content:hover  {
    opacity: 1;
    pointer-events: initial;
    transform: translateY(10px);
}
.dropdown-controller::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 40px;
}
.dropdown-content .dropdown-header {
    padding: 10px;
    border-bottom: solid 1px var(--border);
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.dropdown-header small {
    color: var(--text-muted);
    font-size: var(--font-xs);
}

.dropdown-options {
    display: flex;
    flex-direction: column;
}
.dropdown-option {
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-radius: 0;
}