.dropdown-wrapper {
    position: relative;
}

.dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 99999;
    background-color: var(--bg-surface);
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius-small);
    overflow: hidden;
    box-shadow: var(--shadow-base);
    width: 200px;

    opacity: 0;
    pointer-events: none;

    transform: translateY(5px); /* start slightly down */
    transition: opacity 0.2s ease, transform 0.2s ease;
}
.dropdown-controller {
    position: relative;
    z-index: 2;
}
.dropdown-wrapper:hover .dropdown-content {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}
.dropdown-content .dropdown-header {
    padding: 10px;
    border-bottom: solid 1px var(--border);
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.dropdown-header small {
    color: var(--text-muted);
    font-size: var(--font-xs);
}

.dropdown-options {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.dropdown-option {
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-radius: 0;
}
.dropdown-option{
    border-radius: var(--border-radius-small)
}