.movie-series-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.app-container.movie-series {
    margin-left: initial;
    margin-right: initial;
    width: 100%;
}
.movie-series .container-content {
    margin-bottom: 40px;
}
.light .movie-series .title h1 {
    color: var(--bg-primary);
}