.rails-container.app-container {
    gap: 50px;
    margin: 50px auto;
}
.continue-watching-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.genres-rail .styled-select__control {
    left: -10px;
}