.auth {
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.auth-form {
    padding: 30px 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    grid-column: 2;
    z-index: 1;
}
.auth-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.auth-header span {
    color: var(--text-muted);
}
.auth-header a {
    color: var(--accent-primary);
}
.auth-header a:hover {
    color: var(--accent-hover);
}
.auth-form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
form .name {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
form input {
    width: 100%;
}
form button {
    justify-content: center;
}
.body .auth .container-content {
    display: grid;
    grid-template-columns: 550px 450px;
    gap: 10px;
    border-radius: 20px;
    padding: 0;
}
.auth-bg {
    grid-column: 1;
}
.auth .auth-bg img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.divider {
    display: flex;
    justify-content: center;
}
.divider span {
    background-color: var(--bg-surface);
    z-index: 1;
    padding: 0 10px;
    color: var(--text-muted);
}
.divider::after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--text-muted);
}
.auth-providers {
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.auth-providers .button {
    justify-content: center;
}
.auth-providers .button svg {
    margin-right: 0;
}
.forgot-password-link {
    text-align: right;
    font-size: var(--font-xs);
    margin-bottom: 10px;
    color: var(--text-muted);
}
.forgot-password-link:hover {
    color: var(--accent-hover);
}

@media (max-width: 1100px) {
    .body .auth .container-content {
        grid-template-columns: 500px 400px;

    }
}
@media (max-width: 1000px) {
    .auth-form {
        padding: 30px 30px;
    }
    .body .auth .container-content {
        grid-template-columns: 450px 400px;
    }
}
@media (max-width: 950px) {
    .auth .container-content {
        grid-template-columns: 400px 375px;
    }
}
@media (max-width: 875px) {
    .body .auth .container-content {
        grid-template-columns: 350px 325px;
    }
}
@media (max-width: 750px) {
    .body .auth .container-content {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 550px) {
    .body .auth .container-content {
        gap: 0;
        display: flex;
        width: 100%;
        max-width: 400px;
    }
    .body .auth-bg {
        display: none;
    }
    .auth-form {
        width: 100%;
    }
}