:root {
    --game-card-width: 280px;
    --compact-game-card-width: 130px;
    --team-logo-dimensions: 45px;
    --team-logo-horizontal-card-dimensions: 45px;
}

.game-card {
    position: relative;
    border-radius: var(--border-radius-small);
    overflow: hidden;
    background: var(--bg-white);
    color: var(--text-primary);
    display: flex;
    flex-direction: column;
    padding: 16px;
    transition: transform 0.3s ease;
    justify-content: space-between;
    gap: 30px;
    width: var(--game-card-width);
    border: solid 1px var(--border);
}
.compact-game-card {
    padding: 10px;
    border-radius: var(--border-radius-small);
    background: var(--bg-white);
    border: solid 1px var(--border);
    width: var(--compact-game-card-width);
}
.compact-game-card .app-icon {
    width: 40px;
    height: 40px;
    font-size: var(--font-sm);
}
.compact-game-card .inner-game-card {
    gap: 15px;
}
.compact-game-card .logos img, .compact-game-card .logos .img-skeleton {
    width: 35px;
    height: 35px;
}
.compact-game-card .team {
    flex-direction: row;
    gap: 5px;
}
.compact-game-card .watch-button svg {
    display: block;
}
.compact-game-card .team:last-of-type {
    flex-direction: row-reverse;
}
.compact-game-card .game-card-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    gap: 5px;
}
.compact-game-card .logos {
    gap: 15px;
}
.compact-game-card .button.espn-small {
    width: 40px;
    height: 40px;
    padding: 0;
    border: solid 1px var(--border);
}
.compact-game-card .button.espn-small img {
    width: 100%;
}
.media-skeleton-card.game-card-skeleton {
    width: var(--game-card-width);
    height: 210px;
}

.inner-game-card {
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.game-card-badges {
    display: flex;
    justify-content: space-between;
}

.live-badge,
.not-started-badge,
.status-tag {
    background: #ff3b3b;
    padding: 4px 10px;
    border-radius: var(--border-radius-small);
    font-size: var(--font-xs);
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
}

.not-started-badge,
.status-tag {
    background: var(--badge-bg);
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score {
    font-size: var(--font-lg);
    font-weight: bold;
    margin-top: 4px;
}
.score.lead {
}
.gh .live-info {
    font-size: 13px;
    font-weight: 500;
    color: #ff4d4d;
}

.logos {
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
}

.logos img, .logos .img-skeleton {
    width: var(--team-logo-dimensions);
    height: var(--team-logo-dimensions);
    object-fit: cover;
}

.vs {
    font-size: var(--font-lg);
    opacity: 0.7;
}

.game-title {
    font-size: var(--font-sm);
    font-weight: 600;
    margin-bottom: 10px;
}

.game-time {
    font-size: var(--font-sm);
}

.game-card .watch-button button {
    align-items: center;
    justify-content: center;
    width: 100%;
}

.game-card .button {}

.game-card-buttons.single {
    grid-template-columns: 1fr;
}

.game-card-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.horizontal-team-row .game-card-buttons > a {
    width: 120px;
    min-width: 0;
}


.like-response {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%) scale(0.6);
    color: var(--accent-primary);
    font-size: var(--font-xl);

    opacity: 0;
    pointer-events: none;

    transition:
        transform 0.35s cubic-bezier(0.2, 0.8, 0.2, 1),
        opacity 0.25s ease;
}

.like-response.animated {
    opacity: 1;
    transform: translate(-50%, -70%) scale(1.1);
}


.game-card-horizontal .game-card-badges {}

.game-card-horizontal-matchup {
    gap: 20px;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-white);
    border: solid 1px var(--border);
    padding: 10px;
    border-radius: var(--border-radius-small);
}

.horizontal-team-row {
    display: flex;
    justify-content: space-between;
}

.horizontal-team-row .team {
    display: grid;
    align-items: center;

    --col-logo: var(--team-logo-horizontal-card-dimensions);
    --col-name: 140px;
    --col-flex: 30px;
    --col-action: 30px;
    --gap: 15px;

    grid-template-columns:
        var(--col-logo) minmax(0, var(--col-name)) var(--col-flex) var(--col-action);

    gap: var(--gap);
}
.horizontal-team-row .team .img-skeleton {
    height: var(--team-logo-horizontal-card-dimensions);
}
.horizontal-team-row .app-icon {
    width: 30px;
    height: 30px;
    font-size: var(--font-sm);
}

.horizontal-team-row .follow-button {
    font-size: var(--font-xs);
    padding: 10px 7px;
    justify-content: center;
}

.horizontal-team-row .follow-button svg {
    margin-right: 3px;
}

.horizontal-team-row .game-card-badges {
    align-items: flex-start;
    gap: 5px;
}

.horizontal-team-row .team img {
    width: 100%;
    height: 100%;
}

.horizontal-team-row .game-card-buttons {
    align-items: center;
}

.horizontal-team-row .game-card-buttons button {
    width: 100%;
    justify-content: center;
}

.horizontal-team-row .score {
    margin-top: 0;
    text-align: center;
}
.sidebar-card {
    display: flex;
    justify-content: space-between;
    padding: 7px;
    gap: 5px;
    border: solid 1px var(--border);
    border-radius: var(--border-radius);
}
.game-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: solid 1px var(--border);
    padding: 9px 7px;
    border-radius: var(--border-radius-small);
}
.game-group .sidebar-card {
    padding: 0;
}
.game-group .sidebar-card {
    border: none;
    border-radius: 0;
}
.game-group .game-group-badges {
    position: absolute;
    font-size: 8px;
    top: 0;
    left: 20px;
    transform: translateY(-50%);
    background-color: var(--bg-secondary);
    padding: 5px;
    color: var(--border);
    font-size: var(--font-xxs);
}
.sidebar-card .app-icon {
    width: 30px;
    height: 30px;;
    font-size: var(--font-xxs);
}
.sidebar-card img, .sidebar-card .img-skeleton {
    width: 30px;
    height: 30px;
}
.sidebar-card .team-logo-name {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: var(--font-xxs);
}
.sidebar-card-controls {
    display: flex;
    gap: 5px;
}
.sidebar-card .watch-button svg {
    display: block;
}
@media (max-width: 800px) {

    :root {
        --game-card-width: 250px;
    }

    .horizontal-team-row .team {
        --col-name: 130px;
    }

}


@media (max-width: 700px) {
    :root {
        --game-card-width: 230px;
        ----team-logo-horizontal-card-dimensions: 40px;
    }

    .horizontal-team-row .team {
        --col-name: 110px;
    }

    .horizontal-team-row .game-card-buttons>a {
        width: 100px;
    }
}

@media (max-width: 600px) {
    .horizontal-team-row .team {
        --col-name: 90px;
    }

    :root {
        --game-card-width: 210px;
    }



}

@media (max-width: 550px) {
    :root {
        --team-logo-horizontal-card-dimensions: 36px;
    }
    .horizontal-team-row .team {
        --col-name: 80px;
    }

    .horizontal-team-row .horizontal-buttons {
        gap: 5px;
    }

    .horizontal-team-row .game-card-buttons>a {
        width: 90px;
    }

    .horizontal-buttons .button.espn img {
        width: 40px;
    }
}

@media (max-width: 475px) {
    :root {
        --team-logo-horizontal-card-dimensions: 30px;
    }
    .horizontal-team-row .team {
        --col-name: 60px;
    }

    .horizontal-team-row .follow-button {
        font-size: 10px;
    }

    .live-badge,
    .not-started-badge,
    .status-tag {
        padding: 5px 8px;
    }

    .horizontal-team-row .team-name {
        font-size: 10px;
    }

    .horizontal-team-row .game-card-buttons>a {
        width: 80px;
    }

    .horizontal-team-row .follow-button {
        padding: 5px;
    }

}

@media (max-width: 450px) {
    .horizontal-team-row .team {
        --col-name: 50px;
    }

    .horizontal-team-row .game-card-buttons>a {
        width: 70px;
    }
}

@media (max-width: 400px) {
    .horizontal-team-row .game-card-buttons>a {
        width: 60px;
    }
}