.sport-cards-grid-view .container-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--game-card-width), 1fr));
    gap: 10px;
}
.sport-cards-grid-view .game-card {
    width: initial;
}