.button {
  display: inline-flex;
  align-items: center;
  gap: 10px;

  padding: 12px 22px;
  border-radius: var(--border-radius);
  font-size: var(--font-sm);
  font-weight: 600;
  background-color: #f3f3f3;
  cursor: pointer;
  transition: all .18s ease;
  border: none;
  color: var(--bg-primary);
  backdrop-filter: blur(6px);
  border: solid 1px transparent;
}
.button svg {
    margin-right: 10px;
}

.button:hover {
    transform: scale(1.1);
}
.button.secondary {
    background-color: var(--bg-transparent);
    border: solid 1px var(--border);
    color: var(--text-primary);
}
@media (max-width: 600px) {
    .button {
        font-size: var(--font-xs);
        padding: 10px 20px;
    }
}