:root {
    --app-icon-dimension: 50px;
}

.app-icon {
    cursor: pointer;
    width: var(--app-icon-dimension);
    height: var(--app-icon-dimension);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-transparent);
    border: solid 1px var(--border-white);
    cursor: pointer;
    z-index: 2;
    transition: all 0.3s;
    font-size: var(--font-xl);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}
.app-icon:hover {
    background-color: var(--bg-white);
}

/* @media (max-width: 700px) {
    .app-icon {
        width: 35px;
        height: 35px;
        font-size: var(--font-sm);
    }
}
@media (max-width: 600px) {
    .app-icon {
        width: 30px;
        height: 30px;
        font-size: var(--font-xs);
    }
} */