
.credits .container-content {
    display: grid;
    gap: 10px;
    max-height: 80vh;
    overflow-y: auto;
    padding-right: 5px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.credit-card {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px;
    transition: all 0.3s;
}
.credit-card strong {
    transition: all 0.3s;
    word-break: break-word;
    font-size: var(--font-sm);
}
.credit-card:hover {
    background-color: var(--bg-white-hover);
}
.credit-card:hover strong {
    color: var(--accent-primary);
}
.credit-card {
    background-color: var(--bg-white);
    align-items: center;
    border: solid 1px var(--border-white);
    border-radius: var(--border-radius-small);
    flex-direction: row;
    overflow-y: auto;
}
.credit-card img, .credit-card .img-skeleton {
    min-width: 60px;
    max-width: 60px;
    height: 60px;
    border-radius: var(--border-radius-small);
        border-radius: 50%;

}
.credit-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 0;
}
.credit-info small {
    color: var(--text-muted);
    white-space: nowrap;       
    overflow: hidden;           
    text-overflow: ellipsis;
    display: block;
    width: 100%;
    min-width: 0;
}
.user-circle {
    min-width: 60px;
    max-width: 60px;
    color: var(--accent-primary);
    height: 60px;
}
/* @media(max-width: 600px) {
    .credits .container-content {
        display: flex;
        flex-direction: column;
    }
} */