:root {
    --multi-watch-game-width: 350px;
}

.sports-grid .container-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--game-card-width), 1fr));
    gap: 20px;
}

.sports-page .header-controls .container-content {
    grid-template-columns: 1fr auto;
}

.sports-page .page-header-container {
    padding-bottom: 0;

}
.sports-page .sports-ui-controllers {
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
}
.inner-sports-ui-controllers .container-content {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
    justify-content: center;
}
.inner-sports-ui-controllers .container-content .button {
    width: 150px;
}
.layout-buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.quick-filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    justify-content: center;
    grid-column: 1/3;
}

.quick-filter {
    background-color: var(--bg-primary);
    padding: 5px 15px;
    border-radius: 100px;
    font-size: var(--font-xs);
    cursor: pointer;
    transition: all 0.3s;
}
.quick-filter.clear-filter {
    display: flex;
    gap: 5px;
    align-items: center;
    background-color: var(--accent-primary);
}
.quick-filter.clear-filter:hover {
    background-color: var(--accent-hover);
}
.quick-filter:active {
    transform: scale(0.95);
}

.quick-filter.active {
    background-color: var(--accent-primary);
}

.quick-filter.active:hover {
    background-color: var(--accent-hover);
}

.quick-filter:hover {
    background-color: var(--bg-secondary);
}

.header-controls .container-content .quick-filters {
    height: initial;
}
.sports-page .header-controls .container-content {
    display: grid;
}
.multi-watch-window-parent {
    z-index: 999;
}

.multi-watch-window {
    width: 100%;
    height: 100%;
    background: var(--bg-secondary);
    border-radius: 10px;
    overflow: auto;
    pointer-events: auto;
    box-shadow: var(--shadow-base);
    transition: all 0.3s;
}

.multi-watch-header-controls {
    display: flex;
    gap: 10px;
}

.multi-watch-header-controls div {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.multi-watch-header-controls div:hover {
    background-color: var(--bg-transparent);
}

.multi-watch-header-controls .multi-watch-close-control:hover {
    background-color: var(--accent-primary);
}

.multi-watch-header {
    padding-left: 16px;
    background: #222;
    cursor: grab;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: default !important;
}

.multi-watch .window-content {
    gap: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--multi-watch-game-width), 1fr));
    height: initial;
}

.multi-game {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-surface);
    border-radius: 10px;
    aspect-ratio: 16 / 9;
    padding: 0;
}

.multi-game a:hover {
    text-decoration: underline;
}

.multi-game iframe {
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.multi-game-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 5px;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    background: linear-gradient(to bottom,
            rgba(27, 27, 27, 1),
            rgba(27, 27, 27, 0));
    border-radius: 10px 10px 0 0;
    opacity: 0;
    transition: all 0.3s;
}
.idle .multi-game:hover .multi-game-header {
    opacity: 0;
}
.multi-game:hover .multi-game-header {
    opacity: 1;
}

.multi-game-header a {
    margin-bottom: 0;
    padding-left: 10px;
}

.multi-game-header svg {
    cursor: pointer;
}

.multi-watch-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.stream-controls {
    position: fixed;
    z-index: 10000;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.stream-controls .input-container {
    width: 50px;
    height: 50px;
}

.stream-controls .input-container input {
    padding: 0;
    width: 100%;
    text-align: center;
    border-radius: 50%;
}

.alt-streams {
    position: fixed;
    top: calc(env(safe-area-inset-top, 0px) + 20px);
    z-index: 1000;
    right: 20px;
    display: flex;
    gap: 10px;
    max-width: calc(100% - 100px);
    justify-content: flex-end;
    flex-wrap: wrap;
}

.alt-streams button {
    background-color: var(--bg-transparent);
    color: #fff;
    border: solid 1px var(--border-white);
}

.multi-watch-empty span {
    display: block;
}

.multi-watch-empty>* {
    margin-bottom: 10px;
}

.checkbox {
    width: 20px;
    height: 20px;
    background-color: var(--bg-primary);
    border: solid 1px var(--border-white);
    display: inline-flex;
    justify-content: center;
    border-radius: 5px;
    align-items: center;
    margin-right: 10px;
}

.checkbox svg {
    font-size: var(--font-xs);
    opacity: 0;
}

.checkbox.checked {
    background-color: var(--accent-primary);
}

.checkbox.checked svg {
    opacity: 1;
}

.option {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.option-content {
    display: flex;
    align-items: center;
    gap: 6px;
}

.team-logo {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.vs {
    margin: 0 4px;
    color: #aaa;
    font-size: 12px;
}



/* chip container */
.multi-chip {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 2px 4px;
}

/* whole chip */
.styled-select__multi-value {
    background: rgba(220, 38, 38, 0.15);
    border: 1px solid rgba(220, 38, 38, 0.4);
    border-radius: 999px;
    padding: 4px 8px;
}

/* remove default padding */
.styled-select__multi-value__label {
    padding: 0;
    display: flex;
    align-items: center;
}

/* logos */
.team-logo {
    width: 20px;
    height: 20px;
}
.multi-watch-empty .img-skeleton {
    width: 20px;
    height: 20px;
}

/* text */
.team {
    font-size: var(--font-xs);
    font-weight: 500;
}

/* VS styling */
.vs {
    font-size: var(--font-xs);
    color: #aaa;
    margin: 0 2px;
}

/* remove button */
.styled-select__multi-value__remove {
    margin-left: 4px;
    border-radius: 50%;
}

.styled-select__multi-value__remove:hover {
    background: #dc2626;
    color: white;
}

.active-provider.button {
    background-color: var(--accent-primary);
}
.games-list .container-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
@media (max-width: 775px) {
    .multi-watch-icon {
        bottom: 90px;
    }
}
@media (max-width: 500px) {
    .sports-page .app-container {
        padding-left: 25px;
    }
}