.user-icon.dropdown-wrapper .dropdown-content{
    right: 0;
    left: initial;
}

.user-img, .user-initials, .user-icon .img-skeleton {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--bg-surface);
    border: solid 2px var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-icon .dropdown-footer {
    display: flex;
    justify-content: flex-end;
}