.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    left: 50%;
    transform: translateX(-50%);
}
.player-open .navbar, .player-open .sub-nav, .player-open .mobile-bar {
    display: none;
}
.sub-nav {
    top: 60px;
    padding: 10px;
    display: flex;
    width: auto
}
.sub-nav.navbar .container-content {
    justify-content: center;
}
.navbar .container-content > * {
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar .container-content > .saved {
    display: none;
}
.scrolled .navbar .nav-links {
    background: var(--bg-transparent);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

/* .scrolled .navbar .logo {
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    background-color: var(--bg-transparent);
    border-radius: var(--border-radius);
} */
.navbar.app-container {
    margin-top: 0;
}

.navbar .container-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    transition: all 0.3s;
    border-radius: var(--border-radius);
}

.nav-link {
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 7px 10px;
    cursor: pointer;
    border: solid 1px transparent;
    transition: all 0.3s;
    border-radius: calc(var(--border-radius) / 2);
}

.nav-link:hover,
.nav-link-active {
    border: solid 1px var(--border-white);
    background-color: hsla(0, 0%, 100%, .1);
    color: var(--accent-primary);
}

.mobile-bar {
    position: fixed;
    bottom:  calc(0px + env(safe-area-inset-bottom));
    z-index: 999;
    background: var(--bg-transparent);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.05);
    width: 100%;
    display: none;
    align-items: center;
    padding: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.mobile-bar .nav-link {
    border-radius: 0;
    -webkit-tap-highlight-color: transparent;
}

.mobile-bar .nav-link:hover {
    border: auto;
    background-color: auto;
    color: auto;
}
.mobile-bar .dropdown-content {
    display: none;
}
.mobile-bar .nav-links {
    padding: 0;
}
.pwa .mobile-bar {
    bottom:  calc(0px + env(safe-area-inset-bottom));  
    padding-bottom: 30px;
    width: 100%;
}
 /* .mobile-bar::after {
    width: 100%;
    height: 5px;
    position: absolute;
    bottom: 0;
    background-color: red;
    content: "";
} */
.mobile-bar .nav-links {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.mobile-bar .nav-link {
    flex-direction: column;
    padding: 7px 10px;
    gap: 3px;
    border: none;
    background-color: transparent;
}

.mobile-bar .nav-link span {
    font-size: var(--font-xs);
}

.mobile-bar .nav-link svg {
    font-size: var(--font-lg);
}

.mobile-bar-spacer {
    display: none;
}
@media (max-width: 850px) {
    .nav-links {
        gap: 10px;
    }
}
@media (max-width: 775px) {
    .navbar .nav-links {
        display: none;
    }

    .navbar .container-content > .saved {
        display: flex;
    }

    .mobile-bar, .sub-nav {
        display: flex;
    }
    .sub-nav {
        top: 0;
    }
    .sub-nav .nav-links {
        display: flex;
    }

    .mobile-bar .saved {
        display: none;
    }

    .navbar .search-link {
        display: none;
    }

    .mobile-bar-spacer {
        display: block;
        height: 80px;
    }

    .mobile-bar span {
        margin-top: 2px;
    }
}

@media (max-width: 540px) {
    .mobile-bar .nav-links {
        gap: 10px;
        justify-content: space-between;
    }
}

@media (max-width: 500px) {
    .mobile-bar .nav-links {
        gap: 5px;
        justify-content: space-between;
    }
}

@media (max-width: 460px) {
    .mobile-bar .nav-link svg {
        font-size: var(--font-lg);
    }

    .mobile-bar .nav-link span {
        font-size: 10px
    }

}

@media (max-width: 440px) {
    .mobile-bar {
        width: 97%
    }

    .mobile-bar .nav-link {
    }

}

@media (max-width: 400px) {
    .mobile-bar .nav-link svg {
        font-size: var(--font-md);
    }

    .mobile-bar .nav-link span {
        font-size: 8px
    }

}

@media (max-width: 380px) {
    .mobile-bar .nav-link span {
        font-size: 7px
    }

    .mobile-bar {
        width: 99%
    }

    .mobile-bar .nav-link {
        padding: 7px 15px;
    }
}