.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    left: 50%;
    transform: translateX(-50%);
}

.player-open .navbar,
.player-open .sub-nav {
    display: none;
}

.sub-nav {
    top: 60px;
    padding: 10px;
    display: flex;
    width: auto;
}

.sub-nav.navbar .container-content {
    justify-content: center;
}

.navbar .container-content > * {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar .container-content > .saved {
    display: none;
}

.scrolled .navbar .nav-links {
    background: #0b0f14d1;
    backdrop-filter: blur(24px) saturate(140%);
    border: solid 1px var(--border);
}
.light .navbar .nav-links {
    background-color: rgba(45, 45, 45, 0.249);
}

.light .navbar .nav-links .nav-link {
    -webkit-tap-highlight-color: transparent;
}
.navbar.app-container {
    margin-top: 0;
}

.navbar .container-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    transition: all 0.3s;
    border-radius: var(--border-radius);
}

.nav-link {
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 7px 10px;
    cursor: pointer;
    border: solid 1px transparent;
    transition: all 0.3s;
    border-radius: calc(var(--border-radius) / 2);
}
.light .nav-link {
    color:var(--white);
}

.nav-link:hover,
.nav-link-active {
    border: solid 1px var(--border);
    background-color: var(--bg-primary);
    color: var(--accent-primary);
}
.light .nav-link:hover, .light .nav-link-active{
    color: var(--accent-primary);
}
@media (max-width: 850px) {
    .nav-links {
        gap: 10px;
    }
}

@media (max-width: 775px) {
    .navbar .nav-links {
        display: none;
    }

    .navbar .container-content > .saved {
        display: flex;
    }

    .sub-nav {
        display: flex;
        top: 0;
    }

    .sub-nav .nav-links {
        display: flex;
    }

    .navbar .search-link {
        display: none;
    }
}