.input-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.input-container .icon {
    position: absolute;
}
.input-container input {
    background-color: var(--input-bg);
    border: solid 1px var(--border);
    padding: 15px 25px;
    border-radius: var(--border-radius);
    outline: none;
    transition: all 0.3s;
    color: var(--text-body);
    height: 100%;
}
.input-container.has-icon input {
    padding-left: 30px;
}
::placeholder {
    color: var(--text-muted)
}
input:focus {
    border: solid 1px var(--accent-primary);
}
.input-container .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-muted);
    z-index: 1;
    font-size: var(--font-xs);
    left: 10px;
}
input:focus + .error {
    border: solid 1px var(--accent-primary);
}
.error {
    font-size: var(--font-xs);
    color: var(--accent-primary);
    display: flex;
    margin-top: 5px;
    position: absolute;
    bottom: -50%;
    transform: translateY(-50%);
    right: 10px;
    border: solid 1px var(--border);
    border-radius: 20px;
    background-color: var(--bg-primary);
    padding: 5px;
    z-index: 10;
    transition: all 0.3s;
}