.search-page .page-header-container {
  margin-top: 0;
}

.no-results,
.search-loading {
  text-align: center;
  padding: 40px;
  opacity: 0.8;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 1 / -1
}
.header-controls .container-content button {
  width: auto;
  align-self: flex-start;
}
.no-results-trending-today-title {
  grid-column: 1 / -1;
}

.no-results .app-icon {
  pointer-events: none;
}

.search-history-wrapper {
  position: relative;
  width: 100%;
}

.search-history-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: var(--bg-primary);
  border-radius: 12px;
  margin-top: 8px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  z-index: 50;
}

.search-history-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 16px;
  cursor: pointer;
  transition: all 0.2s;
}

.search-history-item:hover,
.search-history-item.highlighted {
  background: var(--bg-surface);
}

.delete-search, .search-icon {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-left: auto;
  transition: all 0.3s;
  background-color: var(--bg-transparent);
  min-width: 30px;
}
.search-icon {
  margin-left: initial;
}
.delete-search:hover {
  background-color: var(--accent-primary);

}
.search-item-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-item-content small{
  color: var(--text-muted);
  font-size: var(--font-xs);
}