:root {
  --game-card-width: 280px;
  /* --game-card-height: 300px; */
}

.game-card {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    background: var(--bg-surface);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 16px;
    transition: transform 0.3s ease;
    justify-content: space-between;
    gap: 30px;
    width: var(--game-card-width);
    /* height: var(--game-card-height); */
}
.media-skeleton-card.game-card-skeleton {
    width: var(--game-card-width);
    height: 210px;
}

.inner-game-card {
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.game-card-badges {
    display: flex;
    justify-content: space-between;
}

/* LIVE badge */
.live-badge, .not-started-badge, .status-tag {
    background: #ff3b3b;
    padding: 4px 10px;
    border-radius: 40px;
    font-size: var(--font-xs);
    font-weight: bold;
    text-transform: capitalize;
}
.not-started-badge, .status-tag {
    background: rgba(255, 255, 255, 0.2);
}
.team {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team .app-icon {
    width: 30px;
    height: 30px;
    font-size: var(--font-xs);
    position: absolute;
    right: 55px;
    top: 50%;
    backdrop-filter: none;
    border: none;
    transform: translateY(-50%);
}
.team:first-of-type .app-icon {
    right: -50px;
    left: 55px;
}
.score {
  font-size: var(--font-lg);
  font-weight: bold;
  margin-top: 4px;
}
.gh
.live-info {
  font-size: 13px;
  font-weight: 500;
  color: #ff4d4d;
}

/* Logos */
.logos {
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
}

.logos img {
    width: 55px;
    height: 55px;
    object-fit: cover;
}

.vs {
    font-size: var(--font-lg);
    opacity: 0.7;
}

/* Title */
.game-title {
    font-size: var(--font-sm);
    font-weight: 600;
    margin-bottom: 10px;
}

.game-time {
    font-size: var(--font-sm);
}

/* Watch button */
.game-card .watch-button button {
    align-items: center;
    justify-content: center;
    width: 100%;
}
.game-card .button {
    height: 40px;
}

.game-card-buttons.single {
    grid-template-columns: 1fr;
}
.game-card-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.game-card-buttons > a {
    width: 100%
}
@media (max-width: 800px) {
    :root {
        --game-card-width: 260px;
    }
}

@media (max-width: 700px) {
    :root {
        --game-card-width: 240px;
    }
    .logos img {
        width: 45px;
        height: 45px;
    }
}
@media (max-width: 650px) {

}
@media (max-width: 600px) {
    :root {
        --game-card-width: 220px;
    }

    .logos img {
        width: 40px;
        height: 40px;
    }
}