:root {
    --game-card-width: 280px;
}

.game-card {
    position: relative;
    border-radius: var(--border-radius-small);
    overflow: hidden;
    background: var(--bg-white);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 16px;
    transition: transform 0.3s ease;
    justify-content: space-between;
    gap: 30px;
    width: var(--game-card-width);
    border: solid 1px var(--border);
}

.media-skeleton-card.game-card-skeleton {
    width: var(--game-card-width);
    height: 210px;
}

.inner-game-card {
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.game-card-badges {
    display: flex;
    justify-content: space-between;
}

.live-badge,
.not-started-badge,
.status-tag {
    background: #ff3b3b;
    padding: 4px 10px;
    border-radius: var(--border-radius-small);
    font-size: var(--font-xs);
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
}

.not-started-badge,
.status-tag {
    background: rgba(255, 255, 255, 0.2);
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team .app-icon {
    width: 30px;
    height: 30px;
    font-size: var(--font-xs);
    position: absolute;
    right: -20px;
    top: 10px;
    backdrop-filter: none;
    border: none;
    transform: translateY(-50%);
}

.team:first-of-type .app-icon {
    right: -50px;
    left: 55px;
}

.score {
    font-size: var(--font-lg);
    font-weight: bold;
    margin-top: 4px;
}

.gh .live-info {
    font-size: 13px;
    font-weight: 500;
    color: #ff4d4d;
}

.logos {
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
}

.logos img {
    width: 55px;
    height: 55px;
    object-fit: cover;
}

.vs {
    font-size: var(--font-lg);
    opacity: 0.7;
}

.game-title {
    font-size: var(--font-sm);
    font-weight: 600;
    margin-bottom: 10px;
}

.game-time {
    font-size: var(--font-sm);
}

.game-card .watch-button button {
    align-items: center;
    justify-content: center;
    width: 100%;
}

.game-card .button {}

.game-card-buttons.single {
    grid-template-columns: 1fr;
}

.game-card-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.game-card-buttons>a {
    width: 100%;
    min-width: 0;
}

.logos img {
    width: 45px;
    height: 45px;
}


.like-response {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%) scale(0.6);
    color: var(--accent-primary);
    font-size: var(--font-xl);

    opacity: 0;
    pointer-events: none;

    transition:
        transform 0.35s cubic-bezier(0.2, 0.8, 0.2, 1),
        opacity 0.25s ease;
}

.like-response.animated {
    opacity: 1;
    transform: translate(-50%, -70%) scale(1.1);
}


.game-card-horizontal .game-card-badges {}

.game-card-horizontal-matchup {
    gap: 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-white);
    border: solid 1px var(--border);
    padding: 10px;
    border-radius: var(--border-radius-small);
}

.horizontal-team-row {
    display: flex;
    justify-content: space-between;
}

.horizontal-team-row .team {
    display: grid;
    align-items: center;

    --col-logo: 45px;
    --col-name: 140px;
    --col-flex: 1fr;
    --col-action: 110px;
    --gap: 16px;

    grid-template-columns:
        var(--col-logo) minmax(0, var(--col-name)) var(--col-flex) var(--col-action);

    gap: var(--gap);
}

.horizontal-team-row .button {}

.horizontal-team-row .follow-button {
    font-size: var(--font-xs);
    padding: 10px 7px;
    justify-content: center;
}

.horizontal-team-row .follow-button svg {
    margin-right: 3px;
}

.horizontal-team-row .game-card-badges {
    align-items: center;
    gap: 5px;
}

.horizontal-team-row .team img {
    width: 100%;
    height: 100%;
}

.horizontal-team-row .game-card-buttons {
    align-items: center;
}

.horizontal-team-row .game-card-buttons button {
    width: 100%;
    justify-content: center;
}

.horizontal-team-row .score {
    margin-top: 0;
}


@media (max-width: 800px) {

    :root {
        --game-card-width: 250px;
    }

    .horizontal-team-row .team {
        --col-name: 130px;
        --col-action: 100px;
        --gap: 12px;
    }

}


@media (max-width: 700px) {
    :root {
        --game-card-width: 230px;
    }

    .logos img {
        width: 40px;
        height: 40px;
    }

    .horizontal-team-row .team {
        --col-logo: 40px;
        --col-name: 110px;
    }

}

@media (max-width: 600px) {
    .horizontal-team-row .team {
        --col-name: 90px;
        --col-action: 85px;
        --gap: 10px;
    }

    :root {
        --game-card-width: 210px;
    }

    .logos img {
        width: 36px;
        height: 36px;
    }

}

@media (max-width: 550px) {

    .horizontal-team-row .team {
        --col-logo: 36px;
        --col-name: 80px;
        --col-action: 75px;
        --gap: 8px;
    }

    .horizontal-team-row .horizontal-buttons {
        width: 180px;
        gap: 5px;
    }

    .horizontal-buttons .button.espn img {
        width: 40px;
    }
}

@media (max-width: 475px) {
    .horizontal-team-row .team {
        --col-logo: 30px;
        --col-name: 60px;
        --col-action: 60px;
        --gap: 6px;
    }

    .horizontal-team-row .follow-button {
        font-size: 10px;
    }

    .live-badge,
    .not-started-badge,
    .status-tag {
        padding: 5px 8px;
        font-size: 9px;
    }

    .horizontal-team-row .team-name {
        font-size: 10px;
    }

    .horizontal-team-row .horizontal-buttons {
        width: 160px;
    }

    .horizontal-team-row .horizontal-buttons button,
    .horizontal-team-row .horizontal-buttons a {
        padding: 5px;
    }

    .horizontal-team-row .follow-button {
        padding: 5px;
    }

}

@media (max-width: 450px) {

    .horizontal-team-row .horizontal-buttons {
        width: 150px;
    }
}

@media (max-width: 400px) {
    .horizontal-team-row .horizontal-buttons {
        width: 140px;
    }
}