.app-container {
    padding: 0 4rem;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
}
.app-container .container-content.styled {
    background-color: var(--bg-surface);
    border: solid 1px var(--border);
    border-radius: 5px;
    padding: 20px;
}
.app-container .container-content {
}
.container-title {
    display: flex;
}
.media-grid .container-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px,1fr));
  grid-gap: 10px;
}
.media-grid .container-content .media-card {
    width: 100%;
}
@media(max-width: 1400px) {
    .app-container {
        padding: 0 10px;
    }
}
/* @media(max-width: 600px) {
    .app-container {
        padding: 0 1.5rem;
    }
}
@media(max-width: 400px) {
    .app-container {
        padding: 0 10px;
    }
} */