:root {
    --live-chat-window-width: 350px;
}
.live-chat {
    width: var(--live-chat-window-width);
    min-width: var(--live-chat-window-width);
    padding: 5px;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-base);
    display: flex;
    flex-direction: column;
    background-color: var(--bg-surface);
}
.live-chat .live-indicator {
    width: 10px;
    height: 10px;
    position: relative;
    background-color: var(--accent-primary);
    border-radius: 50%;
}

.live-chat .live-indicator::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background-color: var(--accent-primary);
    animation: pulse 1.5s infinite;
    opacity: 0.6;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.6;
    }
    70% {
        transform: scale(2.5);
        opacity: 0;
    }
    100% {
        transform: scale(2.5);
        opacity: 0;
    }
}

.welcome-message {
    padding: 10px;
    text-align: center;
    font-size: var(--font-sm);
    color: var(--text-muted);
}
.live-chat-header {
    text-align: center;
    padding: 20px;
    border-bottom: solid 1px var(--border);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.live-chat-header .app-icon {
    background-color: transparent;
    border: none;
    width: initial;
    height: initial;
    color: var(--text-muted);
    padding: 10px;
} 
.live-chat-header .app-icon:hover {
    background-color:var(--bg-white-hover);
    color: var(--text-primary);
}

.live-chat-header svg {

}
.live-chat-header div {
    display: flex;
    gap: 10px;
    align-items: center;
}
.live-chat-header span {
    font-size: var(--font-sm);
}

.live-chat-messages {
    margin-top: 10px;
    max-height: calc(100% - 200px);
    overflow-y: auto;
}
.live-chat-toolbar {
    padding: 10px;
    margin-top: auto;
    background-color:var(--bg-white-hover);
    margin-bottom: 10px;
    border-radius: var(--border-radius-small);
}
.live-chat-toolbar .textarea-container textarea {
    background-color: transparent;
    border: solid 1px transparent;
}
.live-chat-toolbar .textarea-container textarea:focus {
    border: solid 1px var(--border);
}
.live-chat-toolbar button {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--bg-white);
    border: none;
    color: var(--text-muted);
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
}
.live-chat-toolbar button:active {
   
}
.live-chat-toolbar button.valid {
    color: var(--bg-primary);
    background-color: var(--text-primary);
}
.live-chat-toolbar {
}
.toolbar-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}
.toolbar-controls div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.message {
    padding: 10px;
    border-radius: var(--border-radius-small);
}
.message:hover {
    background-color: var(--bg-transparent);
}
.message .reply-icon {
    position: absolute;
    top: -5px;
    right: 0;
    width: 35px;
    height: 35px;
    font-size: var(--font-sm);
    opacity: 0;
}
.message:hover .reply-icon {
    opacity: 1;
}
.live-chat-sidebar-toggler {
    right: 0;
    border-radius:  var(--border-radius-small) 0  0 var(--border-radius-small);
}
.active.live-chat-sidebar-toggler {
    right: 350px;
}

#player-wrapper {
  position: relative;
}

.overlay-ui {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  color: white;
}

@media (max-width: 800px) {
    .live-chat {
        position: absolute;
        bottom: 10px;
        right: 10px;
        height: calc(100% - 200px);
        z-index: 10;
        background-color: var(--bg-primary);
    }
}