.accent-line {
    width: 4px;
    background-color: var(--accent-primary);
    align-self: stretch;
    border-radius: calc(var(--border-radius) * 2);
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
}